/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #c8c8c7;
}

.grid_2-1 {
  display: grid;
  gap: 20px;
}
.grid_2-1 p {
  background: #d9d9d9;
  border: 6px solid #555;
  padding: 40px 20px;
}

@media (min-width: 768px) {
  .grid_2-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
