/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid_2-1 {
  display: grid;
  gap: 20px;
}

@media (min-width: 768px) {
  .grid_2-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
